nav.navbar.navbar-expand-lg.navbar-light.bg-dark.navbar-dark.p-3
  a.navbar-brand(href='/')
    .header__logo 
      img(src='/img/logo-white.png' alt='Natours logo')
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  
  .collapse.navbar-collapse(id='navbarSupportedContent')
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link.nav__el(href='/') All Tours

    ul.navbar-nav.d-flex
      if user
        li.nav-item
          a.nav-link.nav__el.nav__el--logout Logout
        li.nav-item
          a.nav__el(href='/me')
            img.nav__user-img(src=`/img/users/${user.photo}` alt=`photo of ${user.name}`)
            span=user.name.split(' ')[0]
      else
        li.nav-item
          a.nav-link.nav__el(href='/login') Log in
          - if(!signupNo)
            a.nav-link.nav__el(href='/signup') Sign up
        

      