extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset Password
      form.form.forgot-password-email-form
        .form__group.ma-bt-md
          label.form__label(for='email') Email
          input#email.form__input(type='email', placeholder='Enter Your Email',required)
        .form__group
          button.btnn.btnn--green.btnn-reset-link Get Password Reset Link